.PreviewWrapper {
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}

.previewModal {
	max-width: 75vw;
	max-height: 75vh;
	border: none;
	border-radius: 8px;
	padding: 0 2rem 2rem 2rem;
	background-color: #21a89b;
	z-index: 10;
	align-self: center;
	justify-self: center;
	position: fixed;
}

.previewModal[open] {
	animation: slide-in-from-top 0.25s ease-out;
}

.previewModal::backdrop {
	background: rgba(0, 0, 0, 0.9);
}

.previewModal progress {
	width: 100%;
	height: 1.5rem;
	margin: 0;
	accent-color: #46cebe;
}

.previewModal p {
	margin: 0.5rem 0;
	font-size: 1.2rem;
	overflow-y: auto;
}

.previewModal p strong {
	color: #10655b;
}

.previewModal form {
	text-align: right;
}

.previewModal button {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 4px;
	background: #12352f;
	color: #edfcfa;
	font-size: 1.2rem;
	cursor: pointer;
}

.previewModal button:hover {
	background: #051715;
}

.previewTitle {
	padding-top: 0.5rem;
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: #21a89b;
}

.previewTitle h3 {
	font-family: "Handjet", monospace;
	font-size: 3rem;
	text-transform: uppercase;
	border-bottom: solid white 3px;
}

.previewContent {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	text-align: left;
}

.previewContent h4 {
	font-family: "Handjet", monospace;
	font-size: 1.25rem;
}

.previewContent p {
	font-family: "Handjet", monospace;
	margin-bottom: 1rem;
}

.previewItem {
	background-color: pink;
	margin: 0.5rem;
	flex: 1;
}

.previewIconsWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.previewIcons {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: palevioletred;
}

.previewIcons p {
	margin: 0;
}

.previewIcons li {
	padding: 0.5rem;
}

.closeButton {
	display: inline;
	position: sticky;
	float: right;
	z-index: 10;
	bottom: 0%;
	text-align: right;
}

.closeButton button {
	margin: 0;
}

.previewLink {
	width: 3rem;
	height: 3rem;
}

@keyframes slide-in-from-top {
	0% {
		transform: translateY(-15%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes flash {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}
