.preview p {
	margin: 0.5rem 0;
	font-size: 1.2rem;
	overflow-y: auto;
	text-align: justify;
}

.preview button {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 4px;
	font-size: 1.2rem;
	cursor: pointer;
	background-color: var(--button-background);
}

.preview button:hover {
	background-color: var(--button-background-hover);
}

.previewTitle {
	padding-top: 0.5rem;
	position: sticky;
	top: 0;
	background-color: var(--background-primary);
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.preview h3 {
	font-family: "Handjet", monospace;
	font-size: 3rem;
	text-transform: uppercase;

	/* For truncation */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	display: block; /* ensures it behaves properly */
	text-align: center;
}

.titleWrapper {
	max-width: 80%;
}

.previewContent {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	text-align: left;
}

.preview h4 {
	font-family: "Handjet", monospace;
	font-size: 1.5rem;
}

.previewContent p {
	font-family: "Handjet", monospace;
	margin-bottom: 1rem;
}

.previewItem {
	margin: 0.5rem;
	flex: 1;
}

.previewIconsWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.previewIcons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.previewIcons p {
	margin: 0;
}

.previewIcons li {
	padding: 0.5rem;
	margin: 1.25rem;
}

.closeButton {
	display: inline;
	position: sticky;
	float: right;
	z-index: 10;
	bottom: 0%;
	text-align: right;
}

.closeButton button {
	margin: 0;
}

.previewLink {
	width: 3rem;
	height: 3rem;
}

#Tags {
	text-align: center;
	font-size: 0.85rem;
}

@keyframes slide-in-from-top {
	0% {
		transform: translateY(-15%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes flash {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}
