.PreviewWrapper {
	display: flex;
	width: 100%;
	height: 100vh;
	position: fixed;
	align-items: center;
	justify-content: center;
}

.previewModal {
	border: none;
	border-radius: 8px;
	padding: 2rem;
	background-color: #21a89b;
	z-index: 10;
	align-self: center;
	justify-self: center;
	position: fixed;
}

.previewModal[open] {
	animation: slide-in-from-top 0.25s ease-out;
}

.previewModal::backdrop {
	background: rgba(0, 0, 0, 0.9);
}

.previewModal h2 {
	font-family: "Handjet", monospace;
	margin: 0 0 0.25rem 0;
	font-size: 3rem;
	text-transform: uppercase;
}

.previewModal progress {
	width: 100%;
	height: 1.5rem;
	margin: 0;
	accent-color: #46cebe;
}

.previewModal p {
	margin: 0.5rem 0;
	font-size: 1.2rem;
}

.previewModal p strong {
	color: #10655b;
}

.previewModal form {
	text-align: right;
}

.previewModal button {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 4px;
	background: #12352f;
	color: #edfcfa;
	font-size: 1.2rem;
	cursor: pointer;
}

.previewModal button:hover {
	background: #051715;
}

@keyframes slide-in-from-top {
	0% {
		transform: translateY(-15%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes flash {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}
