.hero {
	background-color: var(--background-secondary);
	height: 50vh;
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: space-between;
	overflow: hidden;
}

.textWrapper {
	text-align: left;
	position: absolute;
	padding: 2rem;
	z-index: 10;
	left: 0;
	max-width: 22rem;
}

.textWrapper h1 {
	margin-bottom: 1rem;
}

.textWrapper h2 {
	margin-bottom: 0.75rem;
}

.textWrapper p {
	margin-bottom: 1rem;
}

.textWrapper span {
	color: var(--color-red-dark);
}

/* .buttonWrapper {
	text-align: left;
	position: absolute;
	padding: 2rem;
	z-index: 10;
	right: 0;
} */

.heroItem {
	flex: 33.333%;
}

.heroImage {
	height: inherit;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.heroImage img {
	width: 100%;
	height: 100%;
	max-width: 85vw;
	object-position: 50% 10%;
	object-fit: cover;
	justify-self: end;
	display: block;
	background-color: black; /* visible behind transparent edges */
}

.heroImageWrapper {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 85vw;
	justify-self: end;
	display: block;

	/* Fade left and right edges */
	mask-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 20%,
		rgba(0, 0, 0, 1) 80%,
		rgba(0, 0, 0, 0) 100%
	);
	-webkit-mask-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 20%,
		rgba(0, 0, 0, 1) 80%,
		rgba(0, 0, 0, 0) 100%
	);
}

.aiNoticeWrapper {
	width: 25rem;
	width: 100%;
	max-width: 25rem;
	justify-self: start;
}
