ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navigationWrapper {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: var(--side-navigation-width-offset);
	height: 100vh;
}

.sideNavigation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--background-primary);
	height: 100vh;
	top: 0;
	box-shadow: var(--shadow-glow);
}

.list {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.list a {
	text-decoration: none;
	color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
	color: var(--color-primary-800);
	text-decoration: underline;
}

.icon svg {
	fill: white;
}
