.controls {
	display: flex;
	align-items: center;
}

.controls button {
	background-color: var(--button-background);
}

.controls button:hover {
	background-color: var(--button-background-hover);
}

.arrowControl {
	height: 8rem;
	z-index: 1;
}

.title {
	text-align: left;
	font-size: 2.5rem;
}

.projectContainer {
	display: flex;
	flex-direction: row;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	scroll-behavior: smooth;
	padding: 1rem 0;
	margin: 0 1rem;
	scrollbar-width: none;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.card {
	scroll-snap-align: start;
}

/* TODO: investigate if this is part of my card spacing issue... */
.cardSpacer {
	min-width: 2rem; /* match witdh of project item*/
	flex-shrink: 0;
}
