.imageWrapper {
	position: relative;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%; /* responsive */
	overflow: hidden;
}

.imageWrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
	display: block; /* removes inline-gap issue */
}
