main {
	position: relative;
	background-color: var(--background-secondary);
}

.portfolio {
	margin-left: var(--side-navigation-width-offset);
}

/* Responsive breakpoints */
@media (max-width: 768px) {
	.portfolio {
		margin-left: 0;
	}
}
