.coverArtContainer {
	box-sizing: border-box;
	display: flex;
	height: 35vh;
	width: 30vh;
	overflow: hidden;
	flex: 100%;
	align-items: center;
	justify-content: center;
}

.coverArtContainer img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 8px;
}

.titleBox {
	position: absolute;
	z-index: 1;
}

.projectCard {
	box-sizing: border-box;
	margin: 3px;
	transition:
		transform 0.3s ease,
		box-shadow 0.3s ease,
		outline 0.1s ease;
}

.selected {
	transform: scale(1.05);
	outline: 3px solid rgb(255, 255, 255);
	outline-offset: -3px;
	border-radius: 8px;
	box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5);
	z-index: 2;
}

.projectSpacer {
	margin-left: 1rem;
}
