.coverArtContainer {
	display: flex;
	height: 35vh;
	width: 30vh;
	overflow: hidden;
	flex: 100%;
	margin-left: 1rem;
	align-items: center;
	justify-content: center;
}

.coverArtContainer img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 8px;
}

.titleBox {
	position: absolute;
	z-index: 1;
}

.projectCard {
	transition:
		transform 0.3s ease,
		box-shadow 0.3s ease;
}

.selected {
	transform: scale(1.05);
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.25);
	z-index: 2;
}
